/* Blues Theme */

.submit .morelink {
    background-position: 0px -34px;
}

.submit .morelink a {
    color: #fff;
    font-weight: bold;
}

.submit .morelink a:hover {
    color: #002462;
    text-shadow: 0px 0px 3px white;
}

.titlebox thead tr:nth-child(n) {
    background-position: -0px -22px;
    color: #fff;
}

#header-bottom-left .redditname a{
    background-position: 0px -33px;
}
.arrow.upmod{
    background-position:-30px -0px
}
.arrow.downmod{
    background-position:-30px -14px
}
.res_comment_ups, .res_post_ups{
    color:#005a99!important
}

.link .score.likes{
    color:#005a99!important
}

#header-bottom-right.res-navTop, #userbarToggle.userbarHide, #userbarToggle.userbarShow {
    background: none; 
    color:#005a99; 
    border: none
}
#header-bottom-right.res-navTop, #userbarToggle.userbarHide, #userbarToggle.userbarShow a{
    background: none; 
    color:#005a99; 
    border: none;
}
#header-bottom-right a{color:#005a99} .user{color:#005a99}
#header .tabmenu li a{
    color:#fff;
    background-position: -0px -25px
}
#header .tabmenu li.selected a{
    color:#005a99;
}
.morelink a {
    color: #005a99;
}
.morelink a:hover {
    color: #005a99;
}
